<header class="grid-middle padded-t-2">
    <div class="col-2"></div>
    <div class="col-8 center">
        <a href="/">    <h5 class="xs-hide">Webdesign & Webdevelopment.</h5>
                        <h5 class="xs-show">OnememoryDesign.</h5></a>
    </div>
    <!-- Language Switch Button -->
    <div class="col-2 right">
        <div style="display: inline;"><i class="fa-solid fa-globe switch" id="switch"></i></div>
        <button id="language-toggle" class="language-toggle">EN | DE</button>
    </div>
</header>