<section class="center padded-t margin-b-neg">
    <h3>OnememoryDesign.</h3>
  </section>
  
  <section class="grid padded-t xs-padded-t10 bg-light" id="footer">
    <hr class="col-12">
    <div class="col-12 center">
      <nav>
        <a href="/privacy">Privacy</a>
        <a href="/legal-notice">Legal Notice</a>
        <!-- Calendly link widget begin -->
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
        <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/onememorydesign?hide_landing_page_details=1'});return false;">Call us</a>
        <!-- Calendly link widget end -->
      </nav>
    </div>
    <hr class="col-12">
  
    <div class="col-4-middle padded-2 center border-r sm-hide">
        <h4>Location</h4>
        <p>Currently in Marmari </p>
        <p>Euboea Greece</p>
    </div>
    <div class="col-4-middle_sm-6_xs-12 padded-2 center border-r xs-border-b">
        <h4>Contact</h4>
        <p> <strong> Email: </strong> hello@onememorydesign.com </p>
        <p> <strong> Phone: </strong> +43 677 61723353 </p>
    </div>
    <div class="col-4-middle_sm-6_xs-12 padded-2 center padded">
        <h4>Follow us</h4>
        <nav>
            <a href="https://www.instagram.com/onememorypermile/" target=”_blank” class="social-icons"> <i class="social fab fa-instagram"></i> </a>
            <a href="https://www.facebook.com/profile.php?id=61557339363740" target=”_blank” class="social-icons"> <i class="social fab fa-facebook-f"></i> </a>
            <a href="https://www.pinterest.com/onememorypermile/" target=”_blank” class="social-icons"> <i class="social fab fa-pinterest-p"></i> </a>
        </nav>
    </div>
    <hr class="col-12">
  
    <div class="col-12-middle center">
      <a class="copyright" href="https://onememorydesign.com">© 2025 OnememoryDesign.</a>
    </div>
  
  </section>            
            