<!-- desktop header -->
<header class="grid-middle padded-t-2 xs-hide">
    <div class="col-2"></div>
    <div class="col-8 center">
        <a href="/"><h5>Webdesign & Webdevelopment.</h5></a>
    </div>
    <!-- Language Switch Button -->
    <div class="col-2 right">
        <div style="display: inline;"><i class="fa-solid fa-globe switch" id="switch"></i></div>
        <button id="language-toggle" class="language-toggle">EN | DE</button>
    </div>
</header>

<!-- mobile header -->
<header class="grid-middle padded xs-show">
    <div class="col-9">
        <a href="/"><h5>OnememoryDesign.</h5></a>
        
    </div>
    <!-- Language Switch Button -->
    <div class="col-3 right">
        <div style="display: inline;"><i class="fa-solid fa-globe switch" id="switch"></i></div>
        <button id="language-toggle" class="language-toggle">EN | DE</button>
    </div>
</header>